<odoo>
  <!-- Place the module menu inside the Sales app (Verkauf) -->
  <menuitem id="menu_nolte_overtime_root" name="Nolte Überstunden" parent="sale.sale_menu_root" sequence="90"/>
  <menuitem id="menu_nolte_overtime_import"
            name="Überstunden CSV Import"
            parent="menu_nolte_overtime_root"
            action="action_nolte_overtime_import_wizard"
            sequence="10"/>
</odoo>
